aiohttp
beautifulsoup4
cloudscraper
cryptography
discord.py
discord-py-slash-command
Flask
g4f
humanize
paramiko
pydub
python-Levenshtein
pytube
requests
scipy
selenium
urllib3
youtube-search
yt-dlp
Levenshtein
discord
python-qbittorrent
nest-asyncio
git+https://github.com/Pycord-Development/pycord#egg=py-cord
git+https://github.com/Rapptz/discord-ext-menus#egg=discord-ext-menus
